.container {
  position:relative;
  top:27.7em;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #51142f, #191732);
    padding: 20px;
    justify-content: center;
  }
  
  .container ul {
    list-style-type: none;
    display: flex;
    align-items: center; /* Align items vertically in the center */
    color: white;
  }
  
  .container ul li {
    display: flex; /* Use flexbox to align image and text horizontally */
    align-items: center; /* Align image and text vertically in each list item */
    margin-right: 20px; /* Add some right margin between items */
  }
  
  .main {
    border-right: 1.2px solid white;
    padding-right: 10px; /* Add some padding between the border and the text */
  }
  
  .container img {
    width: 30px; /* Adjust the width of the images as needed */
    margin-right: 5px; /* Add some right margin between image and text */
    position:relative;
  }
  
  /* Add styles for the h4 and h3 elements to adjust spacing */
  .container ul li h4,
  .container ul li h3 {
    margin: 0;
    padding: 0;
  }
  .logo{
    opacity:0.6;
  }
  .logo:hover{
    color:white;
    opacity:1;
  }
  .spotify:hover{
    fill-color:red;
  }
  @media (max-width:1080px){
    .container{
      display:none;
    }
  }