.container {
    background: white;
    align-items: center;
    justify-content: center;
  
    margin-top: 28.3em;
    left: 1.2%;
    right: 5%;
    padding: 20px 10px 20px 10px;
    width:100%;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #154284;
    font-size:1.8rem;
}
.title h3:hover{
  cursor: pointer;
  animation: slide ease 6s;
}
  
  
  .items {
    position: relative;
    display: flex;
    margin-top: 1.6em;
    justify-content: space-around;
    margin-right: 6.8em;
  }
  
  .imageWrapper {
    margin-left: 5em;
    width: 17em;
    height: 20vh;
    position: relative;
    transition: transform 0.3s ease;
  }
  
  .imageWrapper:hover {
    transform: scale(1.2);

  }
  
  .imageWrapper img {
    margin-left:1.5em;
    width: auto;
    cursor: pointer;
    height: 75%;
    object-fit: cover;
    box-shadow:1px 2px 6px black;
  }
  .secondContainer h3{
    color:#154284;
    font-size:1.8rem;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .secondTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #154284;
    font-size:1.8rem;
  }
  
  .secondTitle h3:hover{
    cursor:pointer;
    animation:slide ease 6s;
  }
  @keyframes slide{
  
    0% {  text-decoration:underline; text-decoration-color:red;}
    
  }
  
  .Items {
    position: relative;
    display: flex;
    margin-top: 3em;
    justify-content: space-around;
    margin-right: 6.8em;
  }
  
  .secondImageWrapper {
    margin-left: 5em;
    width: 10em;
    height: 20em;
    position: relative;
    transition: transform 0.3s ease;
    
  }
  
  .secondImageWrapper:hover {
    transform: scale(1.1);

  }
  
  .secondImageWrapper img {
    margin-left: 0em;
    width: auto;
    cursor: pointer;
    height: 7.8em;
    object-fit: cover;
    box-shadow:1px 2px 6px black;
  }
  
  .secondImageWrapper p{
    padding-top: 6em;
    padding-left: 1em;
    max-width: 100%;
    font-weight: bold;
    z-index: 100;
    color: black;
  }


  @media(max-width:1080px){
   
    .imageWrapper {
      margin-left:0;
    }
    .container{
      position:relative;
      top:19rem;
      width:96%;
    }
    .Items  p {
      font-size:2rem;
    }
    .secondImageWrapper {
      margin-left:0;
    }
   .secondImageWrapper p {
    font-size: 2.5rem;
    padding-top: 0;
    width: min(77%, 473px);
   }
  }
  @media(max-width:450px){
    .title {
      font-size:2.5rem;
    }
  }
    