.container {
  position: relative;
  width: auto;
  height: auto;
  left: 0%;
  margin-top: 0;
}
.container img {
  position: relative;
  left: 0%;
  width: 100%;
}
@media (max-width: 1080px) {
  .container {
    display:none;
    position: absolute;
    top: 25.8rem;
    z-index:-999;
    right:500%;
  }
}
