.text_and_iconn {
    position: relative;
    top: 10%;
    left: 22%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: white;
  }
  .text_and_iconn img {
    margin-top:1.7em;
    margin-left: 0.8em;
    width: 3vh;
    height:3vh;
  }@keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .secondDropdown {
    top: 85%;
    left: -450%;
    z-index:150;
    width: max-content;
    height: min;
    padding: 10px 5px 5px;
    background: #144285;
    color: white;
    position: absolute;
    display: flex;
    opacity: 0; /* Set the initial opacity to 0 */
    pointer-events: none; /* Prevent interactions until it's visible */
    animation: fadeInAnimation 1.9s ease; /* Add the fadeInAnimation */
  }
  .secondLeftSide {
    position: relative;
    left: -9%;
  }
  .secondLeftSide li {
    position: relative;
    left: -9%;
  }
  .secondDropdown ul {
    list-style-type: none;
    display: flex;
  }
  .secondGrayLine {
    border-right: 1px solid #ddd;
    height: 100%;
    margin-right: 12px;
    /* Adjust the margin to your preference */
  }
  @media (max-width:1080px){
    .text_and_iconn h3{
      position: relative;
      bottom:39vh;
    }
  }