.text_and_iconn {
  position: relative;
  top: -2%;
  left: 10%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: white;
    width:50%;
  }
  .text_and_iconn img {
    margin-top:2.2rem;
    margin-left: 1.5em;
    width: 3vh;
    height:3vh;
  }@keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .secondDropdown {
    top: 85%;
    left:-10%;
    z-index:150;
    width: 40%;
    height:auto;
    padding: 10px 5px 5px;
    background: #144285;
    color: white;
    position: absolute;
    display: flex;
    opacity: 1; /* Set the initial opacity to 0 */
    pointer-events: none;
    animation: fadeInAnimation 1.8s ease; /* Add the fadeInAnimation */
  }
  
  .secondLeftSide {
    position: relative;
    left: -9%;
  }
  .secondLeftSide li {
    position: relative;
    left: -9%;
  }
  .secondLeftSide li::hover{
    position: relative;
    text-decoration: underline 1px red;
    cursor:pointer;
  }
  .secondDropdown ul {
    list-style-type: none;
    display: flex;
  }
  .secondGrayLine {
    border-right: 1px solid #ddd;
    height: 100%;
    margin-right: 12px;
    /* Adjust the margin to your preference */
  }
  @media (max-width:1080px){
    .text_and_iconn h3{
      position: relative;
      bottom:39vh;
    }
    .text_and_iconn{
      left:0;
    }
  }