.text_and_icon {
    position: absolute;
    top: 13%;
    left: 15%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  .text_and_icon img {
    margin-top: 1.7em;
    margin-left: 4.9em;
    width: 19%;
  }
  .text_and_icon h3 {
    color: white;
    font-family: "Archiro Black";
  }
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .dropdown {
    top: 85%;
    left: -80%;
    width: max-content;
    height: auto;
    padding: 1rem 1rem;
    background: #144285;
    color: white;
    position: absolute;
    display: flex;
    z-index:150;
    opacity: 1; 
    pointer-events: none; 
    animation: fadeInAnimation 1.3s ease; 
  }
  .dropdown ul {
    list-style-type: none;
    display: flex;
  }
  .dropdown  li::hover {
    cursor:pointer;
  }
  
  .dropdown.show {
    opacity: 1; 
  }
  .leftSide {
    position: relative;
    left: -21%;
  }
  .grayLine {
    border-right: 1px solid #ddd;
    height: 100%;
    margin-right: 12px;
    /* Adjust the margin to your preference */
  }
  @media (max-width:1080px){
    .text_and_icon{
      display:none;
    }
  }