.container {
  position: relative;
  top: 50%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.active {
  grid-column: 1/6;
  grid-row: 1/8;
}

.container img {
  grid-column: 6/8;
}

.carousel_item {
  position: relative;
  top: 70%;
  display: grid;
  grid-template-column: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.carousel {
  display: flex;
  position: relative;
  bottom: 55%;
  left: 0%;
  flex-direction: row;
}

.carousel img {
  width: 100%;
  border: 0;
}

.carousel {
  
  transition: transform 0.2s ease; 
}

.carousel_item h3 {
  position: absolute;
  margin-top: 15.8em;
  left: 15%;
  transform: translateY(-43%);
  background: linear-gradient(to right, #100c1c);
  z-index: 100;
  color: white;
  font-size: 17px;
  text-align: center;
  background-color: transparent;
  line-width: 60%;
  padding: 8px 16px;
  font-family: fcb-extra-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  animation: backInLeft 0.5s ease;
}

@keyframes backInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%) scale(0.8);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

.back {
  position: absolute;
  background: #100c1c;
  margin-top: 250em;
  width: 100%;
  height: 10px;
  z-index: -1;
}

.carousel.active {
 
  width: 150%;
  z-index: 1000;
}

.carousel:hover {

  transform: scale(1.1); 
}

.carousel_item {
 
  transition: transform 0.2s ease; 
  position: relative;
  top: 7.3vh;
}

.active {

  transform: scaleX(1);
  width: 120%;
  background: #100c1c;
}

@media (max-width: 1080px) {
  .carousel {
    display: inherit;
    padding-top: 30vh;
  }
  .active{
    width:auto;
  }
  .carousel img{
   max-height:100rem;
    padding-top:1rem;
    position:absolute;
  }
  .text{
    display:none;
  }
  .carousel_item h3{
    display:none;
  }
  .carousel_item {
    z-index:100;
  }
}
