.fb_social_container {
  background: #3b5998;
  width: 100%;
  padding-top: 5em;
  position: relative;
  display: flex;
  max-height: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  z-index: 30;
}
.social_media_content {
}
.wrapper {
  position: relative;
}
.social_media_list {
  position: relative;
}
.fb_social_container:hover::after {
  content: "";
  position: absolute;
  border: 2px white solid;
  inset: 0;
  /* top:0;
  right:0;
  bottom:0;
  left:0; */
}
.fb_social_container img {
  width: 35%;
  margin-top: 1.4em;
  margin-left: 0.7em;
}
.fb_social_container:hover {
}
.social_media_name {
  color: white;
  font-size: 9px;
  position: relative;
  bottom: 2.5vh;
  padding-left: 4.5px;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.social_media_handle {
  color: white;
  font-size: 13px;
  position: relative;

  padding-right: 2vh;

  bottom: 4vh;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 1080px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    order: -2;
  }
  .fb_social_container {
    min-height: 15rem;
    width: 19rem;
  }

  .fb_social_container img {
    height: 7rem;
    width: 7rem;
    padding-top: 17.5vh;
    min-height: 1.5rem;
    border-radius:2rem;
  }
  .social_media_name h3 {
    position: relative;
    right: 0%;
    top: 11vh;
    /* padding-left: 0px; */
    font-size: 2.5rem;
    text-wrap: nowrap;
  }
  .social_media_handle h3 {
    position: relative;
    top: 10vh;
    right: 8%;
    padding-left: 2rem;
    font-size: 2.5rem;
    text-wrap: nowrap;
  }
}
