.fb_social_container {
  background: #3b5998;
  width: 100%;
  padding-top: 5em;
  position: relative;
  display: flex;
  max-height: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  z-index: 30;
}
.social_media_content {
}
.fb_social_container img {
  width: 35%;
  margin-top: 1.4em;
  margin-left: 0.7em;
}
.fb_social_container:hover {
  border: white 3px solid;
}
.social_media_name {
  color: white;
  font-size: 9px;
  position: relative;
  bottom: 2.5vh;
  padding-left: 4.5px;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.social_media_handle {
  color: white;
  font-size: 13px;
  position: relative;

  padding-right: 2vh;

  bottom: 4vh;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 1080px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    order: -2;
  }
  .fb_social_container {
    min-height: 13rem;
    padding-right:5.5rem;
  }

  .fb_social_container img {
    padding-top: 14.5vh;
  }
  .social_media_name h3 {
    position: relative;
    top: 6vh;
    right: 8%;
    padding-left: 2rem;
    font-size: 2.3rem;
    text-wrap: nowrap;
  }
  .social_media_handle h3 {
    position: relative;
    top: 6vh;
    right: 8%;
    padding-left: 2rem;
    font-size: 2.3rem;
    text-wrap: nowrap;
  }
}
