ul {
  display: flex;
}
.container {
  justify-content: center;
  width: 100%;
  align-items: center;
}
a {
  text-decoration: none;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold;
}
.title {
  font-size: 1.5rem;
  color: white;
}
.social_media_content {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.second_container {
  display: flex;
}

@media (max-width: 1080px) {
  .social_media_content {
    position: relative;
    left: 68rem;
    max-width: 69%;
  }
  .title {
    position: relative;
    bottom:0em;
    left: 147%;
    text-wrap: nowrap;
    font-size: 3rem;
  }

  .container {
    position: relative;
    top: 51rem;
    text-align: center;
    right: 56%;
    max-width: 50%;
  }
  .img {
    padding-top: 25%;
  }
  .second_container {
    display: flex;
    position: relative;
    top: 23rem;
    text-align: center;
    right: 67rem;
    max-width: 50%;
  }
}
