.spotify_social_container {
  background: #00d264;
  position: relative;
  width: 100%;
  color: white;
  padding-top: 4em;
  position: relative;

  display: flex;
  height: 3.2rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  z-index: 30;
}
.spotify_social_container:hover::after {
  content: "";
  position: absolute;
  border: 2px white solid;
  inset:0;
}
.social_media_content {
  padding: 1rem;
}
.spotify_social_container img {
  width: 35%;
  margin-top: 1.4em;

  margin-left: 0.7em;
}
.social_media_name h3 {
  color: white;
  font-size: 9px;
  position: relative;
  bottom: 0vh;
  padding-left: 4.5px;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.social_media_handle h3 {
  color: white;
  font-size: 13px;
  position: relative;
  bottom: 1.0vh;
  padding-right: 2vh;

  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

@media (max-width: 1080px) {
  .spotify_social_container {
    min-height: 15.5rem;

  }
  .spotify_social_container img {
    padding-top: 6.8rem;
    /* position: relative; */
    height: 7rem;
    width: 7rem;
  }
  .social_media_name h3 {
    position: relative;
    right: 0%;
    top: 7vh;
    /* padding-left: 0px; */
    font-size: 3.3rem;
    text-wrap: nowrap;
  }
  .social_media_handle h3 {
    position: relative;
    top: 3vh;
    right: 8%;
    padding-left: 2rem;
    font-size: 3.3rem;
    text-wrap: nowrap;
  }
}
