.twitter_social_container {
  background: #55acee;
  width: 100%;
  padding-top: 5em;
  position: relative;
  display: flex;
  max-height: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  z-index: 30;
}
.social_media_content {
  padding: 15px;
}
.twitter_social_container img {
  width: 35%;
  margin-top: 1.4em;
  padding-letf: 100px;
  margin-left: 0.7em;
}
.twitter_social_container:hover {
  border: white 3px solid;
}
.social_media_name {
  color: white;
  font-size: 9px;
  position: relative;
  bottom: 2.5vh;
  padding-left: 4.5px;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}

.social_media_handle {
  color: white;
  font-size: 13px;
  position: relative;

  padding-right: 2vh;

  bottom: 4vh;
  font-family: fcb-bold, Arial, Helvetica Neue, Helvetica, sans-serif;
}
@media (max-width: 1080px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    order: -1;
  }
  .twitter_social_container {
    text-align: center;
    min-height: 13rem;
    padding-right:5.5rem;
  }
  .twitter_social_container img {
    padding-top: 14vh;
  }
  .social_media_name h3 {
    position: relative;
    right: 8%;
    top: 7vh;
    /* padding-left: 0px; */
    font-size: 2.3rem;
    text-wrap: nowrap;
  }
  .social_media_handle h3 {
    position: relative;
    right: 4%;
    top: 6vh;
    /* padding-left: 0px; */
    font-size: 2.3rem;
    text-wrap: nowrap;
  }
}
