.footer{
    position:absolute;
    margin-top:23rem;
    margin-left:35rem;
    color:white;
    z-index:100;
}
.footer p{
    color:white;
}


@media (max-width:1080px){
    .footer{
        position:relative;
        top:25rem;
        right:20%;
        display:none;
    }
}

